<md-toolbar class="navigation-toolbar" color="primary" [ngClass]="{'fixed': isFixedNavigation}">
    <a class="underlined-button" [routerLink]="['/home']">Home</a>
    <a class="underlined-button" [routerLink]="['/news']">News</a>
    <a class="underlined-button" [routerLink]="['/about']">About</a>
    <a class="underlined-button" [routerLink]="['/more']">More</a>
    <a class="underlined-button" (click)="openSearchDialog()">Search</a>
</md-toolbar>

<section>
    <router-outlet></router-outlet>
</section>

<footer></footer>