md-input-container {
  .md-input-underline .md-input-ripple {
    transition: all .3s ease-in-out;
    left: 50%;
    width: 0;
    transform: none;
    opacity: 1;

    &.md-focused {
      left: 0;
      width: 100%;
    }
  }
}